@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../polices/Raleway-Italic-VariableFont_wght.woff);
    src: url(../polices/Raleway-VariableFont_wght.woff);
    src: url(../polices/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(../polices/Raleway-VariableFont_wght.ttf) format('truetype');
}

*{
    font-family: "Raleway", sans-serif; 
}

h1,h2,h3,h4{
    font-family: "Lato", sans-serif;
}

body{
    padding: 0 2%;
    margin: 0;
    justify-content: space-between;
}

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 76, 146, 0.5);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo img{
    width: 150px;
    height: 110px;
    border-radius: 10%;
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

.menu{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}

.menu li{
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu li:hover{
    cursor: pointer;
    border-bottom: solid 2px white;
}

.menu a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}

main a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

main a:hover{
    color: gray;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img404 img{
    width: 300px;
    height: 300px;    
    object-fit: cover;
}

footer{
    background-color: rgb(0, 76, 146);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: row;
}

.social__logo{
    width: 50px;
    height: 50px;
}

.social__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
