@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../polices/Raleway-Italic-VariableFont_wght.woff);
    src: url(../polices/Raleway-VariableFont_wght.woff);
    src: url(../polices/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(../polices/Raleway-VariableFont_wght.ttf) format('truetype');
}

*{
    font-family: "Raleway", sans-serif; 
}

h1,h2,h3,h4{
    font-family: "Lato", sans-serif;
}

body{
    padding: 0 2%;
    margin: 0;
    justify-content: space-between;
}

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    background-color: rgb(0, 76, 146);
    position: sticky;
    top: 0;
    z-index: 1;
}

header .logo img{
    width: 150px;
    height: 110px;
    border-radius: 10%;
}

#titre{
    color: white;
    text-align: center;
    font-size: 25px;
}

header .menu{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}

header .menu li{
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 2px rgb(0, 76, 146);
}

header .menu li:hover{
    cursor: pointer;
    border-bottom: solid 2px white;
}

header .menu a{
    text-decoration: none;
    color: white;
}

main{
    margin: 4%;
}

h2, h3{
    text-align: center;
}

#qui_suis_je_global{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#presentation{
    display: flex;
    flex-direction: row;
}

.qui_suis_je{
    display: flex;
}

#profile_photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 30px gray;
}

#profile_photo:hover{
    cursor: zoom-in;
}

#section_Portfolio{
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 76, 146, 0.2);
    padding-bottom: 30px;
}

#section_Portfolio a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#section_Portfolio a:hover{
    border-bottom: 1px solid black;
    color: gray;
}

.projects{
    display:flex;
    margin-left: 5px;
    margin-right: 5px;
}

.projects .card{
    position:relative;
    display:flex;
    flex-direction: column;
    margin: 5px;
    max-width: 25%;
    text-align: top;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card__description{
    margin: 20px;
    font-size: 10px;
}

.card__image{
    width: 150px;
    height: 150px;
}

#projetcv, #projetcahier, #projetjs{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 30px gray;
}

.openModal{
    border: none;
    padding-left: 0;
    background-color: inherit;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.openModal:hover{
    color: gray;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.modal.active{
    visibility: visible;
}

.modal__overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal__content{
    display: flex;
    width: 90%;
    background: white;
    border-radius: 5px;
    position: absolute;
}

.modal__item{
    max-width: 50%;
    margin-bottom: 0;
}

.modal__année{
    display: flex;
}

.modal__année figure{
    width: 25px;
    height: 25px;
}

.modal__année img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.closeModal{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    font-size: 18px;
    color: gray;
}

.closeModal:hover{
    border: 1px solid white;
    background-color: red;
    color: white;
    cursor: pointer;
}

.error {
    max-width: 400px;
    margin: 2rem auto 0 auto;
    color: red;
    background-color: rgba(255,227,235,1);
    display: flex;
    align-items: center;
}

#box_icone{
    width: 20px;
    height: 20px;
}

#icone_error{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    max-width: 400px;
    margin: 1rem auto 0 auto;
}

.form input, .form textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.form textarea {
    min-height: 200px;
}

#envoyer {
    border: none;
    border-radius: 5%;
    background-color: rgba(0, 76, 146, 0.8);
    color: white;
    width: auto;
    min-width: 100px;
    font-size: 1rem;
}

#envoyer:hover{
    cursor:pointer;
    background-color: rgba(0, 76, 146, 0.4);
}

footer{
    background-color: rgb(0, 76, 146);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bandeau_reseaux_sociaux{
    display: flex;
    flex-direction: row;
}

#logo_linkedin, #logo_facebook, #logo_github{
    width: 50px;
    height: 50px;
}

#linkedin, #facebook, #github{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
