@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../polices/Raleway-Italic-VariableFont_wght.woff);
    src: url(../polices/Raleway-VariableFont_wght.woff);
    src: url(../polices/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(../polices/Raleway-VariableFont_wght.ttf) format('truetype');
}

*{
    font-family: "Raleway", sans-serif; 
}

h1,h2,h3,h4{
    font-family: "Lato", sans-serif;
}

body{
    padding: 0 2%;
    margin: 0;
    justify-content: space-between;
}

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    background-color: rgba(0, 76, 146, 0.5);
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo img{
    width: 150px;
    height: 110px;
    border-radius: 10%;
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

.menu{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
}

.menu li{
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu li:hover{
    cursor: pointer;
    border-bottom: solid 2px white;
}

.menu a{
    text-decoration: none;
    color: white;
}

h2, h3{
    text-align: center;
}

.intro{
    height:550px;
    background-image: url("../pictures/mapmonde.png");
    background-size: cover;
    display: flex;
    align-items: center;
}

.intro article{

    margin: 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 76, 146, 1);
    font-weight: bold;
}

.services__grille{
    display: flex;
    flex-direction: column;
}

.services__colonne{
    display: flex;
}

.services figure{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.services img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__service{
    display: flex;
    align-items: center;
    width:50%
}
.quiSuisJe{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.quiSuisJe__presentation{
    display: flex;
    align-items: center;
}

.quiSuisJe__photo{
    width: 200px;
    height: 200px;
}

.quiSuisJe__photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 30px gray;
}

.quiSuisJe__photo img:hover{
    cursor: zoom-in;
}

.quiSuisJe__text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.quiSuisJe__text a:hover{
    color: gray;
    border-bottom: 1px solid black;
}

.portfolio{
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 76, 146, 0.2);
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio button{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.portfolio button:hover{
    border-bottom: 1px solid black;
    color: gray;
}

.portfolio a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.portfolio a:hover{
    border-bottom: 1px solid black;
    color: gray;
}

.projects{
    display:flex;
    justify-content: space-around;
}

.card{
    display:flex;
    flex-direction: column;
    text-align: top;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card__description{
    margin: 20px;
    font-size: 10px;
}

.card__image{
    width: 150px;
    height: 150px;
}

.card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card__image img:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 76, 146, 0.2);
}

.openModal{
    border: none;
    padding-left: 0;
    background-color: inherit;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.openModal:hover{
    color: gray;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.modal.active{
    visibility: visible;
}

.modal a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.modal a:hover{
    border-bottom: 1px solid black;
    color: gray;
}

.modal__overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal__content{
    display: flex;
    width: 90%;
    background: white;
    border-radius: 5px;
    position: absolute;
}

.modal__images{
    display: flex;
    flex-direction: column;
}

.modal__image{
    width:150px;
    height:150px;
    margin: 10px;
}

.modal__image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.modal__image img:hover{
    cursor: zoom-in;
}

.modal__image figcaption{
    text-align: center;
    font-size: 12px;
    color: white;
    background-color:rgba(0, 76, 146, 1);
}

.modal__année{
    display: flex;
    margin-left: 440px;
}

.modal__année figure{
    width: 25px;
    height: 25px;
}

.modal__année img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__close{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    font-size: 18px;
    color: gray;
}

.modal__close:hover{
    border: 1px solid white;
    background-color: red;
    color: white;
    cursor: pointer;
}

#error {
    max-width: 400px;
    margin: 2rem auto 0 auto;
    color: red;
    background-color: rgba(255,227,235,1);
    display: flex;
    align-items: center;
    visibility: hidden;
}

#error.active {
    max-width: 400px;
    margin: 2rem auto 0 auto;
    color: red;
    background-color: rgba(255,227,235,1);
    display: flex;
    align-items: center;
    visibility: visible;
}

.error__box{
    width: 20px;
    height: 20px;
}

.error__icone{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    max-width: 400px;
    margin: 1rem auto 0 auto;
}

.form input, .form textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.form textarea {
    min-height: 200px;
}

#envoyer {
    border: none;
    border-radius: 5%;
    background-color: rgba(0, 76, 146, 0.8);
    color: white;
    width: auto;
    min-width: 100px;
    font-size: 1rem;
}

#envoyer:hover{
    cursor:pointer;
    background-color: rgba(0, 76, 146, 0.4);
}

footer{
    background-color: rgb(0, 76, 146);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: row;
}

.social__logo{
    width: 50px;
    height: 50px;
}

.social__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
