@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../polices/Raleway-Italic-VariableFont_wght.woff);
    src: url(../polices/Raleway-VariableFont_wght.woff);
    src: url(../polices/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(../polices/Raleway-VariableFont_wght.ttf) format('truetype');
}

*{
    font-family: "Raleway", sans-serif; 
}

h1,h2,h3,h4{
    font-family: "Lato", sans-serif;
}

body{
    padding: 0 2%;
    margin: 0;
}

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
}

header .logo img{
    width: 180px;
    height: 140px;
}

header .menu{
    display: flex;
    list-style-type: none;
}

header .menu li{
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header .menu li:hover{
    cursor: pointer;
    text-decoration: underline;
}

header .menu a{
    text-decoration: none;
    color: #000
}

@media screen and (max-width: 700px) {
    header{
        justify-content: center;
    }

    nav{
        display: none;
    }
}
